.container {
    display: grid;
    grid-template-columns: 15px 100px 30px 100px 15px; /* must top align the text in here */
  }

p {
    font-size: 20px;
    margin: auto;
}

.song {
    color: transparent;
}

.artist {
    color: transparent;
}

.pause {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black; 

    border: none;
    outline: none;

    margin: auto;
}

.pause:hover {
    background-color: white;
}

.back {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: gray; 
    float: left;

    border: none;
    outline: none;

    margin: auto;
}

.back:hover {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: white;
    float: left;
    /* Add shadow effect here and on b2hover */
    border: none;
    outline: none;
}

.skip {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: gray;  
    float: right;

    border: none;
    outline: none;

    margin: auto;
}

.skip:hover {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: white;
    float: right;

    border: none;
    outline: none;
}
