body {
    background-color: rgb(32, 121, 150); /* placeholder */
  }

.bot_container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-rows: 30px 50fr;
}

.top_container {
  position: relative;
  margin: auto;
  width: 30%;

  display: grid;
  grid-template-columns: 400px 150px;
}

::placeholder {
  color: rgb(24, 23, 23);
  opacity: 70%;
}

#search {
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  width: 100%;
}

#search:focus {
  font-size: 30px;
  color: rgb(24, 23, 23);

}

#listen {
  width: 30%;
  height: 100%;
  border-radius: 50%;

  position: relative;
  left: 10%;
}

.csong {
  margin: auto;
}

.qsong {
  margin: auto;
  height: 50px;
}
