#background {
    animation: visualizer 20s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    width: 100%;
    height: 100%;
  }

@keyframes visualizer{
  100%, 0%{
    background-image: radial-gradient(circle at center, red, blue, green, rgb(122, 70, 244));
  }

  25%{
    background-image: radial-gradient(circle at center, orange, rgb(122, 34, 34), green, rgb(0, 0, 0));
  }

  38%{
    background-image: radial-gradient(circle at center, rgb(16, 35, 44), rgb(151, 49, 132), rgb(90, 17, 30), white);
  }

  50%{
    background-image: radial-gradient(circle at center, red, rgb(17, 65, 71), rgb(21, 97, 21), rgb(122, 34, 34), rgb(59, 100, 86));
  }

  63%{
    background-image: radial-gradient(circle at center, rgb(229, 233, 23), rgb(92, 67, 29), rgb(90, 17, 30));
  }

  75%{
    background-image: radial-gradient(circle at center, rgb(116, 38, 112), rgb(124, 124, 215), rgb(90, 17, 30));
  }
}

.bot_container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-rows: 30px 50fr;
}

.top_container {
  position: relative;
  margin: auto;
  width: 30%;

  display: grid;
  grid-template-columns: 400px 150px;
}

::placeholder {
  color: rgb(24, 23, 23);
  opacity: 70%;
}

#search {
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  width: 100%;
}

#search:focus {
  font-size: 30px;
  color: rgb(24, 23, 23);

}

#listen {
  width: 30%;
  height: 100%;
  border-radius: 50%;

  border: none;
  outline: none;
}

.csong {
  margin: auto;
}

.qsong {
  margin: auto;
  height: 50px;
}
