#background {
    animation: visualizer 20s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    width: 100%;
    height: 100%;
  }

@keyframes visualizer{
  100%, 0%{
    background-image: radial-gradient(circle at center, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(122, 122, 30), rgb(59, 100, 86));
  }

  25%{
    background-image: radial-gradient(circle at center, transparent, rgb(0, 255, 0), rgb(0, 0, 255), rgb(122, 122, 240), rgb(59, 100, 86));
  }

  38%{
    background-image: radial-gradient(circle at center, rgb(255, 0, 0), transparent, rgb(0, 0, 255), rgb(37, 37, 101), rgb(62, 223, 170));
  }

  50%{
    background-image: radial-gradient(circle at center, rgb(255, 0, 0), rgb(0, 255, 0), transparent, rgb(48, 48, 60), rgb(62, 70, 223));
  }

  63%{
    background-image: radial-gradient(circle at center, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(201, 164, 44), rgb(62, 70, 223));
  }

  75%{
    background-image: radial-gradient(circle at center, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(201, 164, 44), rgb(223, 62, 89));
  }
}

.bot_container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-rows: 30px 50fr;
}

.top_container {
  position: relative;
  margin: auto;
  width: 30%;

  display: grid;
  grid-template-columns: 400px 150px;
}

::placeholder {
  color: rgb(24, 23, 23);
  opacity: 70%;
}

#search {
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  width: 100%;
}

#search:focus {
  font-size: 30px;
  color: rgb(24, 23, 23);

}

#listen {
  width: 30%;
  height: 100%;
  border-radius: 50%;

  border: none;
  outline: none;
}

.csong {
  margin: auto;
}

.qsong {
  margin: auto;
  height: 50px;
}
